* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(7, 1, 7);
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    display: flex;
    flex-direction: row;
}

h2 {
    color: white;
}

.runny {
    width: 100px;
    height: 100px;
    text-align: center;
    object-fit: contain;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    gap: 20px;
}

nav ul li {
    background-color: white;
    width: 90px;
    height: 30px;
    border-radius: 40%;
    text-align: center;
    align-items: center;
}


form {
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.modal-body {
    align-items: center;
}

.row_g-0 {
    text-align: center;
    align-items: center;
}

.text-center {
    background-color: black;
    color: white;
}

hr {
    width: 100%;
    height: auto;
    background-color: white;
    color: white;
}

/* Primer Html*/
.card {
    width: 18rem;

    text-align: center;

}

.carousel-control-next {
    background-color: black;
}

.carousel-control-prev {
    background-color: black;
}

.seccion1 {
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.info {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
}

.titulo_de_informacion {
    color: white;
    margin: 50px;
}

iframe {
    width: 400px;
    height: 400px;
}

.texto {
    width: 700px;
}

.piedepagina {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

.youtube {
    width: 50px;
    border-radius: 90%;
}

.youtube:hover {
    transform: scale(1.5);
}


.tiktok {
    width: 50px;
    border-radius: 80%;
}

.tiktok:hover {
    transform: scale(1.5);
}

.instagram {
    width: 50px;
    border-radius: 80%;
}

.instagram:hover {
    transform: scale(1.5);
}

.runny_2{
    width: 100px;
    height: 100px;
    text-align: center;
    object-fit: contain;
}

.listas{
    background-color: none;
}

.apps{
    display: flex;
    justify-content: center;
    text-align: center;
}

.redes_sociales{
    text-align: center;
}

h4{
    color:  white;
}